body {
  border-collapse: separate; 
  display: block;
  background-color: #282828;
  border-radius: 8px;
  margin: auto;
  padding: 0px 20px 0px 20px;
  margin-top: 40px;
  max-width: 900px;
}

.container {
  border-collapse: separate;
  border-radius: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

a {
  text-decoration: none;
}

b {
  font-size: 120%;
}

h2{
  vertical-align: middle;
}
.header {
  border-collapse: separate;
  flex: inherit;
  border-radius: 8px;
  text-align: center;
  background-color: gray;
  color: white;
  text-shadow: 0px 0px 20px black;
}

.window {
  border-collapse: separate;
  padding: 15px 15px 15px 15px;
  border-radius: inherit;
  background-color: gray;
  margin-left: 5px;
  order: 0;
  line-height: 40px;
}

.mainwindow {
  border-collapse: separate;
  margin-left: 20px;
  margin-right: 10px;
  padding: 15px 15px 15px 15px;
  border-radius: inherit;
  order: 1;
  flex: 1;
  background-color: white;
}

input[type=number]::-webkit-inner-spin-button {
    border-collapse: separate;
    opacity: 1
}

input{
  border-collapse: separate;
  width: 45px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  border-radius: 8px;
}

button{
  border-collapse: separate;
  border-radius: 8px;
  font-weight: bold;
  width: 110px;
  height: 30px;
}

}

.center{
  align-self: center;
}

.github {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  border-radius: 100%;
  box-shadow: 0px 0px 40px black;
}
