html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  background-color: #282828;
}

img.header {
  height: 200px;
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  box-shadow: 0px 0px 40px black;
}

a {
  text-decoration: none;
}

a:active {
  filter: opacity(70%);
}

img:active {
  filter: opacity(70%);
}

img {
  height: 50px;
  box-shadow: 0 0 3px black;
  border-radius: 4px;
}

input {
  width: 45px;
  height: 45px;
  font-size: 20px;
  text-align: center;
  border-radius: 4px;
  vertical-align: middle;
}

select {
  width: 65px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  border-radius: 8px;
  vertical-align: middle;
}

button {
  margin-top: 2px;
  color: black;
  font-family: fantasy;
  font-size: 16px;
  width: 100px;
  height: 50px;
  vertical-align: middle;
  border-width: 2px;
  border-color: black;
  border-radius: 4px;
}

.project {
  font-family: sans-serif;
  color: black;
}

.wrapper {
  border-radius: 8px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.menu {
  font-family: monospace;
  border-radius: 8px;
  text-align: center;
  color: white;
  text-shadow: 0 0 20px black;
  word-spacing: 10px;
}

.container {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
}

.dicewindow {
  padding: 40px 40px 40px 40px;
  position: absolute;
  align-self: center;
  width: 500px;
  border-radius: inherit;
  background-color: white;
  text-align: center;
  box-shadow: 0 0 80px black;
}

.window {
  text-align: center;
  border-radius: inherit;
  background-color: gray;
  order: 0;
  line-height: 60px;
  padding: 10px 5px 10px 10px;
  box-shadow: 0 0 80px black;
}

.result {
  text-align: center;
  word-spacing: 30px;
  line-height: 60px;
}

.mutbase, .mutbase:active {
  background-color: yellow;
  filter: invert(0);
}

.mutskill, .mutskill:active {
  background-color: #FF7FFF;
  -webkit-filter: invert(1);
  -moz-filter: invert(1);
  filter: invert(1);
}

.item, .item:active {
  background-color: white;
  -webkit-filter: invert(1);
  -moz-filter: invert(1);
  filter: invert(1);
}

.fblbase, .fblbase:active {
  background-color: beige;
  filter: invert(0);
}

.fblskill, .fblskill:active {
  background-color: #7fffff ;
  -webkit-filter: invert(1);
  -moz-filter: invert(1);
  filter: invert(1);
  width: 130px;
}
img.fblskill, img.fblskill:active, img.fblbase, img.fblbase:active{
  width: 50px;
  height: 50px;
}

.damage{
  color: red;
  background-color: transparent;
  border: none;
}

.pride{
  background-color: goldenrod; 
  color: black;
}

.art1{
  background-color: #ff75ff;
  filter: invert(1);
}

.art2{
  background-color: #E44C0A;
  filter: invert(1);
}

.art3{
  background-color: #FF6600;
  
}
