body {
  display: block;
  background-color: #282828;
  border-radius: 8px;
  margin: auto;
  margin-top: 40px;
  max-width: 960px;

}

a {
  text-decoration: none;
}

a:hover {
  color: blue;
}

a:visited {
  color: purple;
}

.container {
  border-radius: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.header {
  flex: inherit;
  margin: 5px 5px 0px 5px;
  border-radius: 8px;
  text-align: center;
  background-color: gray;
  color: white;
  text-shadow: 0px 0px 20px black;
}

.navigation {
  font-family: sans-serif;
  margin: 0px 5px 5px 5px;
  padding: 0px 15px 15px 15px;
  border-radius: inherit;
  order: 0;
  background-color: gray;
  width: 100px;
}

.mainwindow {
  margin: 0px 5px 5px 5px;
  padding: 15px 15px 15px 15px;
  border-radius: inherit;
  order: 1;
  flex: 1;
  background-color: white;
}

.github {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  box-shadow: 0px 0px 40px black;
}
