body {
    padding-top: 70px;
    background: url(https://images.unsplash.com/photo-1426260193283-c4daed7c2024?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Press Start 2P',
        cursive;
    text-shadow: 0 4px 2px black;

}

h3 {
    font-family: 'Press Start 2P',
        cursive;
    text-shadow: 0 4px 2px black;
}

#titlecard {
    text-align: center;
    padding-top: 15%;
    padding-bottom: 10%;
    color: white;
}

#titlecard hr {
    border-color: white;
    box-shadow: 0 2px 2px black;
    border-width: 2px;
    width: 100%;
}

#content{
    padding: 20px;
}

#navbar {
    background-color: rgb(37, 37, 37);
}

.navbar-dark .navbar-brand {
    color: gray;
}

.nav-link{
    color:gray;
}

#footer {
    background-color: rgb(37, 37, 37);
}

#footer a i  {
    color: grey;
    font-size: 1.8em;
    padding-right: 10px;
    padding-left: 10px;
}

.jumbotron a i {
    color: grey;
    font-size: 5em;
    padding-right: 10px;
    padding-left: 10px;
}

#footer button{
    padding: 0;
    border: none;
    background: none;
    outline: 0;
    color: grey;
}

.modal-backdrop {
    z-index: 0 !important;
}

.img-thumbnail{
    background: transparent;
    border: none;
}

.jumbotron{
    padding-top: 40px;
    opacity: 0.8;
}

.jumbotron:hover{
    box-shadow: 0 0 20px black;
    opacity: 1;
}

.btn-group{
    display: flex;
}

.btn{
    flex: 1;
}

.faded{
    opacity: 0.5;
}