$bg-primary: #16161D;
$color-primary: white;

@font-face {
    font-family: bit;
    src: url('Masaaki-Regular.otf');
}

body {
    color: $color-primary  !important;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('public/unsplash.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    height: 100vh;
}

.navbar a>svg {
    margin-right: 10px;
}

.v-middle {
    display: flex;
    align-items: center;

}

.bit {
    font-family: bit !important;
}

.nav-link {
    font-size: 2rem !important;
    padding-bottom: 18px;
}

.navbar-brand {
    padding-bottom: 25px !important;
    font-size: 3rem !important;
}

.outline {
    -webkit-filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black);
    filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black);
}