<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>I'm a computer science student at LTH, Campus Helsingborg. On the side I teach first year students in Java basics and work as a student ambassador for a Malmö-based IT company.</p>
            </div>
            <div class="col-lg-4">
                <p>On this site I will share my personal projects in my technical endeavours.</p>
                <p>Take a look around! :)</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="https://github.com/Nilsiker" class="btn btn-lg btn-outline">
                    <i class="fa fa-github"></i> View on GitHub
                </a>
            </div>
        </div>
    </div>
</section>