@import "~bootstrap/scss/bootstrap";
$eigengrau: #16161D;

html {
  background: black;
}

body {
  background-color: transparent;
}

.bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./media/unsplash.jpg') center center no-repeat;
  background-size: cover;
  position: fixed;

  height: 100vh;
  width: 100vw;
  z-index: -10;
}

.container {
  height: 100%;
  padding-top: 100px;
  padding-bottom: 1vh;
}

.bit {
  font-family: "Masaaki"
}

.App {
  text-align: center;
}

.btn-teal {
  border: none;
  background-color: teal;
  color: white;
}

.btn-teal:hover {
  border: none;
  background-color: teal;
  color: white;
  filter: brightness(85%)
}


$fade_duration: 1s;



.fade-in {
  animation: fadeIn ease $fade_duration;
  -webkit-animation: fadeIn ease $fade_duration;
  -moz-animation: fadeIn ease $fade_duration;
  -o-animation: fadeIn ease $fade_duration;
  -ms-animation: fadeIn ease $fade_duration;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  #content .spin {
    animation: App-logo-spin infinite 15s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}